@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Manrope', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}